.recentShowsMade {
  width: 990.5px;
  position: relative;
  display: inline-block;
}
.recentShowsMadeStarStuddedParent {
  width: 1134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-75xl-3);
  z-index: 0;
}
.property1defaultChild,
.property1defaultItem {
  width: 2409.9px;
  margin: 0 !important;
  position: absolute;
  top: -411.9px;
  left: 1319.4px;
  height: 1633.7px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.property1defaultItem {
  width: 2409.6px;
  top: -155.1px;
  left: -1576.7px;
  height: 1633.5px;
  z-index: 2;
}
.property1default {
  width: 1920px;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-75xl-3);
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-size: var(--heading-1-size);
  color: var(--color-white);
  font-family: var(--heading-2);
}
