.image59Icon {
  width: 650px;
  position: relative;
  height: 659px;
  object-fit: cover;
}
.image59Parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.property1frame1321314396Inner {
  width: 650px;
  position: relative;
  border-radius: 1208.57px 1208.57px 0 0;
  background-color: var(--color-black);
  height: 659px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.forAnEvent {
  color: var(--color-gray-500);
}
.noraFatehiForContainer {
  width: 391.3px;
  position: relative;
  display: inline-block;
}
.fluentcalendar16FilledIcon {
  width: 24.2px;
  position: relative;
  height: 24.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.march2023 {
  position: relative;
}
.fluentcalendar16FilledParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-4xs-1);
  opacity: 0.6;
  text-align: center;
  font-size: var(--font-size-5xl-4);
}
.noraFatehiForAnEventHosteParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
  z-index: 1;
}
.property1frame1321314396Child,
.property1frame1321314396Item {
  width: 80.5px;
  position: absolute;
  margin: 0 !important;
  top: 303px;
  left: 1104.5px;
  height: 80.5px;
  z-index: 2;
}
.property1frame1321314396Item {
  top: 318.1px;
  left: -135px;
  object-fit: contain;
  z-index: 3;
}
.property1frame1321314396 {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-12xl-4);
  text-align: left;
  font-size: var(--heading-2-size);
  color: var(--color-white);
  font-family: var(--heading-2);
}
